.body {
  background-color: #eee;
  margin-top: -5px;
  padding: 17px;

  h3 {
    margin-bottom: 8px;
  }
  .footer {
    width: 100%;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
