* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0px 20px;
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
